@font-face {
  font-family: 'Jedi';
  src: url("/font/jedi.ttf");
  font-weight: normal;
  font-style: normal;
}
#root {
  width: 100svw;
  height: 100svh;
}

body {
  margin: 0;
}
::-webkit-scrollbar {
  width: 2px;
}

/* TRACK */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.23);
}

/* HANDLE */
::-webkit-scrollbar-thumb {
  background: white;
  height: 10%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
}

.overlay--disable {
  pointer-events: none;
  background-color: transparent;
  transition: background-color 2.5s;
}
.endScreen{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  transition:opacity 4s ease-in-out;
  background-image: url('/XwingCocpit/cocpit.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
.endScreenDisable{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100svh;
}

.logo {
  font-family: "Jedi", serif;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  padding: 0;
  margin: 0;
  transform: translateY(-50%);
  position: absolute;
  top: 35svh;
  animation: fadeUp 2.4s ease-in-out;
  transition: all 2s ease-in-out;
  text-align: center;
  color: yellow;
}
.logo2 {
  font-family: "Jedi", serif;
  color: yellow;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  padding: 0;
  margin: 0;
  transform: translateY(-50%);
  position: absolute;
  top: 55svh;
  animation: fadeUp 2.4s ease-in-out;
  transition: all 2s ease-in-out;
  text-align: center;
}

.intro--disappear .logo {
  top: 42px;
  transform: scale(0.25);
  transform-origin: center top;
}


.intro--disappear {
  opacity: 1;
  animation: fadeOut 1s ease-in-out forwards;
}

.intro__scroll {
  opacity: 1;
  color: yellow;
  font-family:"Jedi", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  position: absolute;
  top: 9svh;
  left: 50svw;
  transform: translate(-50%);
}

.intro__mouse {
  width: 30px;
  height: 70px;
  border: 3px solid #333;
  border-radius: 60px;
  position: absolute;
  top: 15svh;
  left: 50svw;
  transform: translate(-50%);
  background-color: whitesmoke;
}
.intro__mouse::before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
  }

@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

.intro--disappear .intro__scroll {
  animation: fadeIn 1s ease-in-out 1.5s forwards ;
}

.overlay--scrolled .intro__scroll  {
  animation: fadeOut 1s ease-in-out forwards;
}
.overlay--scrolled .intro__mouse{
  animation: fadeIn 1s ease-in-out 1.5s forwards ;
}
.overlay--scrolled .intro__mouse  {
  animation: fadeOut 1s ease-in-out forwards;
}
.info{
  color: yellow;
  font-size: 1.5rem;
  margin-top:1.5svh;
  pointer-events: none;
  opacity: 1;
  font-family: "Jedi",sans-serif;
}
.info2{
  color: yellow;
  font-size: 1.5rem;
  margin-top:1.5svh;
  pointer-events: none;
  opacity: 1;
  font-family: "Jedi",sans-serif;
}
.emailInfo{
  position: absolute;
  top: 10svh;
  color: yellow;
  font-size: 1.5rem;
  margin-top:1.5svh;
  opacity: 1;
}

.explore {
  padding: 1rem 2rem;
  border: none;
  font-family: "Jedi", serif;
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  color: black;
  border-radius: 32px;
  cursor: pointer;
  display: inline-block;
  margin-top: 320px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.42s ease-in-out;
  animation: fadeIn 2.4s ease-in-out 2s forwards;
  opacity: 0;
}

.explore:hover:before {
  width: 200%;
  height: 300%;
  border-radius: 100%;
}

.explore:before {
  content: "";
  background: yellow;
  position: absolute;
  width: 0;
  bottom: 0;
  left: 50%;
  height: 0;
  transition: 0.42s ease-in-out;
  z-index: -1;
  transform: translateX(-50%) translateY(50%);
}

.intro--disappear {
  animation: fadeOut 1s ease-in-out forwards;
}

.outro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 4s ease-in-out;
}

.outroAppear {
  opacity: 0;
  max-height: 0;
  overflow-y: auto;
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
  position: absolute;
  top: 5svh;
  left: 50svw;
  width: 60svw;
  height: 80svh;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black;
  border-radius: 2rem 0 0 2rem;
  padding: 1rem
}
.visible {
  opacity: 1;
  max-height: 80svh; /* Dostosuj maksymalną wysokość do potrzeb */
}


.outroText {
  font-family: "Jedi",sans-serif;
  font-size: 1.2rem;
  color: yellow;
  text-align: center;
  opacity: 1;
}
.outroText:first-child {
  margin-top: 8.5rem;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
    filter: blur(9px);
  }

  100% {
    opacity: 1;
    filter: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.iconsContainer {
  position: absolute;
  top: 20svh;
  left: 50svw;
  transform: translate(-50%);
  width: 80vw;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  opacity: 0;
  transition: opacity 2s ease-in-out, z-index 4s ease-in-out;
  pointer-events: none;
  z-index: 0;
}
.visible2 {
  opacity: 1;
  position: absolute;
  top: 20svh;
  left: 50svw;
  transform: translate(-50%);
  width: 80vw;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  transition: opacity 2s ease-in-out, z-index 2s ease-in-out;
  z-index: 0;
}
.aboutMe{
  border: none;
  background: transparent;
  color: yellow;
  font-size: 1.8rem;
  position: absolute;
  top: 1svh;
  left: 50svw;
  transform: translate(-50%);
  cursor: pointer;
  font-family: "Jedi",sans-serif;
}
.socialMedia{
  border: none;
  background: transparent;
  color: yellow;
  font-size: 1.8rem;
  position: absolute;
  top: 10svh;
  left: 50svw;
  transform: translate(-50%);
  cursor: pointer;
  font-family: "Jedi",sans-serif;
}
.restartButton{
  border: none;
  background: transparent;
  color: yellow;
  font-size: 1.8rem;
  position: absolute;
  bottom: 1svh;
  left: 50svw;
  transform: translate(-50%);
  cursor: pointer;
  font-family: "Jedi",sans-serif;
}

@media (max-width: 768px) {
  .logo {
    font-size: 2.3rem;
    letter-spacing: 0.25rem;
  }
  .logo2 {
    font-size: 1.8rem;
    letter-spacing: 0.25rem;
  }

  .intro--disappear .logo {
    top: 24px;
    transform: scale(0.5);
    transform-origin: center top;
  }
  .intro__scroll{
    font-size: 0.8rem;
    width: 80svw;
    text-align: center;

  }

.info{
  font-size: 1rem;
  width: 40svw;
  text-align: center;
  transform: translateX(-6svw);
}
  .info2{
    font-size: 0.8rem;
    width: 40svw;
    text-align: center;
    transform: translate(1svh,-1svw);
  }

  .outroText:first-child{
    margin-top: 37.5rem;
  }
  .explore{
    bottom: -15svh;
  }
  .img{
    transform: translateX(-2svh);
  }
  .img2{
    transform: translateX(2svh);
  }
  .outroAppear {
    top: 10svh;
    overflow-y: auto;
    width: 60vw;
    height: 55vh;
    border-radius: 2rem 0 0 2rem;
  }
  .visible2 {
    top: 35svh;
  }
  .iconsContainer {
    top: 35svh;
  }
  .intro__mouse::before {
    top: 50px;
  }

  @keyframes wheel {
    to {
      opacity: 0;
      top: 10px;
    }
  }
}